<h1>Logs</h1>
<ul>
	<% posts.forEach(function (post) { %>
		<!-- <li class= 'post'> -->
			<p><a href = '#/posts/<%= post.id%>'><%= post.escape('title') %></a>
			<button class ='delete' type="button" data-id = <%= post.id %>>Delete</button>
		</p>
		<!-- </li> -->
		<br>
	<% }); %>
	<br>
	<a href = '#/posts/new'>Add New Post</a>
</ul>
