<form>
  <label id="post_title">Title</label>
  <input type="text" name="post[title]">
  <br>
  <label id="post_body">Body</label>
  <textarea name="post[body]"></textarea>
  <br>

  <input type="submit" value="Make New Post!">
</form>
