/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.title {
	height: 10%;
	width: 100%;
	border-bottom: 2px dotted;
	border-color: #ddd

}

.sidebar {
	float: left;
	width: 20%;
	opacity 0.5;
	border-right: 2px dotted;
	border-color: #ddd;
}

.content {
	float: left;

	width: 79%;
	height: 90%;
	background-color: #eee ;
}